@model eDoc.Models.ApplicationUser
@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <img src="~/img/HackFMI2.0.png" />
    <br />
    <br />
    <h1>Team Mighty Mouse</h1>
    <br />
    <p>Система за електронно подаване на документи (v0.0.1)</p>
    <ul>
        <li>Ilian Tanev</li>
        <li>Ivailo Kirilov</li>
        <li>Mario Stoilov</li>
        <li>Subo Rusev</li>
        <li>Velko Nikolov</li>
    </ul>
</div>
<div class="row">
    <div class="span4">

    </div>
</div>