<fieldset class="form-horizontal">
    <legend>Заявление</legend>

    <div class="control-group" id="application">
        <p class="to">До декана на Факултета по математика и информатика към <br /> Софийски Университет "Св. Климент Охридски"</p>
        @*<div class="form-group">
            <label style="display:inline-block; width:65px">От:</label>
            <input style="margin-left: 24px; display:inline-block" placeholder="От" type="text" name="senderName" />
        </div>*@

        <div style="margin-top: 5px;" class="form-group">
            <label style="display: inline-block; vertical-align: top; width:65px">Съдържание:</label>
            <textarea style="margin-left: 24px" name="content" rows="20" cols="40" placeholder="Съдържанието на вашата молба"></textarea>
        </div>
        
        <p id="date" class="date">Дата: </p>
    </div>

</fieldset>

<script type="text/javascript">
    var date = new Date();
    document.getElementById("date").innerHTML = "Дата: " + date.getDate() + "." + (date.getMonth() + 1) + "." + (1900 + date.getYear()) + "г.";
</script>
