<fieldset class="form-horizontal">
    <legend>Application</legend>

    <div class="control-group" id="application">
        <p class="to">До декана на Факултета по математика и информатика към <br /> Софийски Университет "Св. Климент Охридски"</p>
        <h2 class="type">Декларация</h2>
        <p>От <input type="text" name="senderName" /></p>
        <textarea name="content" rows="20" cols="40"></textarea>
        <p class="date">Дата: </p>
    </div>

</fieldset>

<script type="text/javascript">
    var date = new Date();
    document.getElementsByClassName("date")[0].innerHtml = date.getDay() + "." + date.getMonth() + "." + date.getYear() + "г.";
</script>
